.bg-image {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/imgs/education-desktop.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

.education {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.education-card {
  color: rgba(217, 206, 167);
  flex: 1 1 calc(20% - 1rem);
  min-width: 180px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 8px 8px 5px rgba(201, 164, 61, 0.1);
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #bbbfbf;
}

.name {
  font-size: 13px;
  font-weight: 500;
  margin: 2px 0 5px;
  color: #eeeeee;
}

.date-location {
  font-size: 13px;
  color: #bbbfbf;
  margin-bottom: 8px;
}

.description {
  font-size: 14px;
  color: #eeeeee;
  line-height: 1.5;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .bg-image {
    background-image: url('../../assets/imgs/education-mobile.png');
  }
}
