<div class="bg-image">
  <div class="education">
    @if(public_service.is_loading()) {
    <app-warning [is_warning]="true"></app-warning>
    } @else if (public_service.info().educations.length === 0) {
    <app-error [is_error]="true"></app-error>
    } @else {
    @for (edu of public_service.info().educations; track edu) {
    <div class="education-card">
      <h3 class="title">{{edu.school}}</h3>
      <h4 class="name">{{edu.degree}}&nbsp;in&nbsp;{{edu.field}}</h4>
      <p class="date-location">
        {{edu.startDate | date: 'MMMM y'}}&nbsp;–&nbsp;{{edu.endDate | date: 'MMMM y'}}
      </p>
      <p class="description">{{edu.description}}</p>
    </div>
    }
    }
  </div>
</div>
