.bg-image {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/imgs/education-desktop.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

@media (max-width: 768px) {
  .bg-image {
    background-image: url('../../assets/imgs/education-mobile.png');
  }
}
