<div class="bg-image">
  <div class="education">
    @for (edu of public_service.education(); track edu) {
    <div class="education-card">
      <h3 class="title">{{edu.school}}</h3>
      <h4 class="name">{{edu.degree}}&nbsp;in&nbsp;{{edu.field}}</h4>
      <p class="date-location">
        {{edu.startDate | date: 'MMMM y'}}&nbsp;–&nbsp;{{edu.endDate | date: 'MMMM y'}}
      </p>
      <p class="description">{{edu.description}}</p>
    </div>
    }
  </div>
  <app-error [isError]="!(public_service.education()?.length > 0)"></app-error>
</div>
