.my-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: rgba(255, 236, 172, 0.6);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.header-content {
  cursor: pointer;
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  font-size: 25px;
  font-weight: 400;
  width: 250px;
  height: 30px;
  text-align: center;
  font-family:
    "Segoe Script",
    "Lucida Handwriting",
    "Apple Chancery",
    "Snell Roundhand"
    "Bradley Hand",
    "Noteworthy",
    "URW Chancery L",
    cursive;
  border-radius: 15px;
}

.overlay {
  position: fixed;
  inset: 0;
  -webkit-backdrop-filter: none;
  backdrop-filter: blur(30px);
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.close-option {
  font-weight: bold;
  margin-top: 10px;
}

.menu-container {
  position: fixed;
  justify-content: center;
  left: calc(50% - 150px);
  color: rgba(255, 236, 172, 0.6);
  font-family:
    "Segoe Script",
    "Lucida Handwriting",

    "Apple Chancery",
    "Snell Roundhand"
    "Bradley Hand",
    "Noteworthy",

    "URW Chancery L",

    cursive;
  z-index: 20;
  width: 300px;
}

.menu-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu-container li {
  cursor: pointer;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 400;
  width: 250px;
  height: 30px;
}

.menu-container li:hover {
  background: rgba(255, 236, 172, 0.1);
  border-radius: 15px;
}
