<header class="my-header">
  <div class="header-content" (click)="toggleMenu()">
    KRANTHI
  </div>
</header>

<div class="overlay" *ngIf="isOpen" (click)="closeMenu()"></div>

<div class="menu-container" [@slideDown]="isOpen ? 'open' : 'closed'">
  <ul>
    <li routerLink="/home" (click)="closeMenu()">Home</li>
    <li routerLink="/skills" (click)="closeMenu()">Skills</li>
    <li routerLink="/projects" (click)="closeMenu()">Projects</li>
    <li routerLink="/education" (click)="closeMenu()">Education</li>
    <li routerLink="/experience" (click)="closeMenu()">Experience</li>
    <li class="close-option" (click)="closeMenu()">Close</li>
  </ul>
</div>
