.my-footer {
  width: 100%;
  margin-top: auto;
  padding: 10px 0;
  color: black;
  background: rgba(255, 236, 172, 0.6);
  z-index: 1000;
  box-sizing: border-box;
  -webkit-backdrop-filter: none;
  backdrop-filter: blur(5px);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.social-links img {
  width: 30px;
  height: 30px;
  margin: 0 8px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
}

button:hover {
  transform: scale(0.90);
}

.info-icon i {
  cursor: pointer;
  color: whitesmoke;
  font-style: italic;
  border-radius: 50%;
}
