<footer>
  <ul>
    <li>
      <a href="https://github.com/Kranthi0307" aria-label="Github" target="_blank" rel="noopener">
        <img src="../../assets/imgs/github.svg" alt="Github" width="24" height="24">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/a-k-488a75129/" aria-label="LinkedIn" target="_blank" rel="noopener">
        <img src="../../assets/imgs/linkedin.svg" alt="LinkedIn" width="24" height="24">
      </a>
    </li>
    <li style="float: inline-end; padding: 14px 16px;">Copyright &copy; {{year}}</li>
  </ul>
</footer>
