<app-header></app-header>
<main class="content">
  <br>
  <h2>WORK EXPERIENCE</h2>
  <div *ngFor="let w of work">
    <h3>{{w.company}}&nbsp;-&nbsp;{{w.title}}</h3>
    <i>{{w.description}}</i>
  </div>
  <h2>EDUCATION</h2>
  <div *ngFor="let edu of education">
    <p>{{edu.school}}&nbsp;|&nbsp;{{edu.startDate}}&nbsp;to&nbsp;{{edu.endDate}}</p>
    <p>{{edu.degree}}&nbsp;specialized in the field of&nbsp;{{edu.field}}</p>
    <i>{{edu.description}}</i>
  </div>
  <div>
    <h2>CONTACT DETAILS</h2>
    <p>You can find me in
      <a href="https://www.linkedin.com/in/a-k-488a75129/" target="_blank" rel="noopener">LinkedIn</a>
    </p>
    <p>If you miss me there, here is my e-mail</p>
    <p>kranthia24&#64;gmail.com</p>
  </div>
</main>
<app-footer></app-footer>
