<app-header></app-header>
<main class="content">
  <div>
    <h2>WORK EXPERIENCE</h2>
    <h3>SOWEDID SOLUTIONS</h3>
    <p>Almost 3 years of experience as a SOFTWARE DEVELOPER in developing scalable web applications.</p>
  </div>
  <div>
    <h2>EDUCATION</h2>
    <i>Bachelor's in Engineering from Anna University, 2016 to 2020.</i>
    <p>Master's in Engineering from Dalhousie University, 2023 to 2025.</p>
  </div>
  <div>
    <h2>CONTACT DETAILS</h2>
    <p>You can find me in&nbsp;
      <a href="https://www.linkedin.com/in/a-k-488a75129/" target="_blank" rel="noopener">LinkedIn</a>
    </p>
    <p>If you miss me there, here is my e-mail</p>
    <p>kranthia24&#64;gmail.com</p>
  </div>
</main>
<app-footer></app-footer>
