<div class="bg-image">
  <div class="work">
    @if(public_service.is_loading()) {
    <app-warning [is_warning]="true"></app-warning>
    } @else if (public_service.info().experiences.length === 0) {
    <app-error [is_error]="true"></app-error>
    } @else {
    @for (job of public_service.info().experiences; track job) {
    <div class="work-card">
      <h3 class="title">{{job.title}}</h3>
      <h4 class="name">{{job.company}}</h4>
      <p class="date-location">
        <span>{{job.startDate | date: 'MMMM y'}}</span>
        &nbsp;–&nbsp;
        @if (job.endDate) {
        <span>{{job.endDate | date: 'MMMM y'}}</span>
        } @else {
        <span>Present</span>
        }
        &nbsp;•&nbsp;
        <span>{{job.location}}</span>
      </p>
      <p class="description">{{job.description}}</p>
    </div>
    }
    }
  </div>
</div>
