.bg-image {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/imgs/projects-desktop.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

.projects {
  padding-top: 10%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  color: rgba(217, 206, 167);
  flex: 1 1 calc(20% - 1rem);
  min-width: 180px;
  cursor: pointer;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 8px 8px 5px rgba(201, 164, 61, 0.1);
}

.project-card:not(h3):hover {
  box-shadow: 0 6px 18px rgba(201, 164, 61, 0.1);
  transform: scale(0.90);
}

@media (max-width: 768px) {
  .bg-image {
    background-image: url('../../assets/imgs/projects-mobile.png');
  }

  .project-card {
    flex: 1 1 calc(50% - 1rem);
  }
}

@media (max-width: 480px) {
  .project-card {
    flex: 1 1 100%;
  }
}
