.rating {
  font-size: 1.5em;
  color: gold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  display: inline-block;
  margin-right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: auto;
}

.grid-item {
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
}
