<div class="bg-image">
  <div class="skills">
    @if (treeNodes()?.length > 0) {
    <div>
      <input type="text" placeholder="Search..." [(ngModel)]="searchText" class="search-box" />
    </div>
    }

    <table class="tree-table">
      <tbody>
        @for (skill of treeNodes(); track skill) {
        <ng-container>

          <!-- Parent -->
          @if (matchesSearch(skill)) {
          <tr>
            <td (click)="toggle(skill)">
              <button class="toggle-btn">
                {{ skill.expanded ? '-' : '+' }}
              </button>
              {{ skill.name }}
            </td>
          </tr>
          }

          <!-- Child -->
          @if(skill.expanded) {
          <ng-container>
            @for (child of skill.children; track child) {
            <ng-container>
              @if (matchesSearch(child)) {
              <tr class="child-row">
                <td>{{ child.name }}</td>
              </tr>
              }
            </ng-container>
            }
          </ng-container>
          }

        </ng-container>
        }
      </tbody>
    </table>

    <app-error [isError]="!(treeNodes()?.length > 0)"></app-error>
  </div>
</div>
