<app-header></app-header>
<main class="content">
  <div class="grid-container">
    <div class="grid-item" *ngFor="let skill of skills">
      <h2>{{ skill?.label }}</h2>
      <ul *ngFor="let name of skill.names">
        <li><p>{{ name }}</p></li>
      </ul>
    </div>
  </div>
  <div *ngIf="loading$ | async" class="loading-overlay">
    <div class="spinner"></div>
  </div>
  <div *ngIf="skills.length < 1">
    <p>API is under maintenance.</p>
    <p>Sorry for the inconvenience</p>
  </div>
</main>
<app-footer></app-footer>
