.bg-image {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/imgs/skills-desktop.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

.skills {
  padding-top: 10%;
}

input {
  background: rgba(255, 236, 172, 0.8);
}

.search-box {
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: none;
  border-radius: 25px;
  padding: 8px;
  width: 100%;
}

input::placeholder {
  text-align: center;
}

.tree-table {
  cursor: pointer;
  width: 100%;
  border-collapse: separate;
}

.tree-table td {
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 8px;
  background: rgba(255, 236, 172, 0.6);
}

.child-row td {
  padding-left: 30px;
  background: rgba(255, 236, 172, 0.8);
}

.toggle-btn {
  cursor: pointer;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .bg-image {
    background-image: url('../../assets/imgs/skills-mobile.png');
  }
}
