i {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div {
  text-align: center;
  padding: 30px;
  font-size: larger;
}

.info-icon {
  position: relative;
  display: inline-block;
  margin-left: 6px;
  cursor: pointer;
}

.info-icon i {
  font-style: normal;
  font-weight: bold;
  background-color: #808080;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 16px;
}

.tooltip-box {
  position: absolute;
  top: -35px;
  left: 20px;
  background-color: #333;
  color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
}
