<div class="slide-container" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd()" (mousedown)="onTouchStart($event)" (mousemove)="onTouchMove($event)"
  (mouseup)="onTouchEnd()" (mouseleave)="onMouseLeave()">
  <!-- slides -->
  <div class="slide" *ngFor="let image of images; let i=index" [class.active]="i===currentIndex">
    <img [src]="image?.url" alt="{{image?.title}}" class="slide-img">
  </div>

  <!-- left arrow -->
  <button class="arrow left" (click)="prevSlide()">&#10094;</button>

  <!-- right arrow -->
  <button class="arrow right" (click)="nextSlide()">&#10095;</button>

  <!-- dots -->
  <!--div class="dots">
    <span *ngFor="let img of images; let i = index" [class.active]="i === currentIndex" (click)="goToSlide(i)"></span>
  </div-->
</div>

<app-footer></app-footer>
