<app-header></app-header>
<main class="content">
  <div>
    <i>Hello, This is Kranthi. And here you're in my portfolio.</i>
  </div>
  <div>
    <p>
      <a routerLink="/about">Want to know more about me?</a>
    </p>
    <p>
      <a routerLink="/projects">What did I do?</a>
    </p>
    <p>
      <a routerLink="/skills">What do I know?</a>
    </p>
  </div>
  <div>
    <a href="./assets/files/Resume.pdf" target="_blank">Resume</a>
    <span class="info-icon" (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false">
      <i>i</i>
      <span class="tooltip-box" *ngIf="showTooltip">
        Last updated on {{updatedDate | date: 'MMMM y'}}
      </span>
    </span>
  </div>
</main>
<app-footer></app-footer>
